.app-container {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.loading-container {
  font-size: 18px;
  color: #666;
  display: flex;
  justify-content: center;
}
